<h2>Your Spelling Words</h2>
<!--<table>
    <thead>
        <tr>
            <td>
                Word
            </td>
            <td>
                Last Attempted
            </td>
            <td>
                Next Attempt
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let word in words">
            <td>
                {{word.name}}
            </td>
            <td>
                {{word.lastAttempt}}
            </td>
            <td>
                {{word.nextAttempt}}
            </td>
        </tr>
    </tbody>
</table>-->